torch>=2.0.0
torchvision>=0.15.0
numpy<2
pillow>=9.5.0
opencv-python>=4.8.0
matplotlib>=3.7.0
gradio>=5
gradio_imageslider
huggingface-hub>=0.16.0
transformers>=4.30.0
timm>=0.9.0
spaces>=0.25.0
einops
imageio
open3d
scikit-learn
trimesh
click
fastapi
uvicorn
requests
evo
e3nn
moviepy==1.0.3
plyfile
pillow_heif
safetensors
pycolmap
typer>=0.9.0
pre-commit
omegaconf
git+https://github.com/EasternJournalist/utils3d.git@c5daf6f6c244d251f252102d09e9b7bcef791a38
